img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.vinyl {
    width:100px;
    height:auto;
}

.groove {
    width:200px;
    height:auto;
}

body.page3 {
    width: 100%;
    height:auto;
    background:hsl(201, 60%, 42%);
}

body.page4 {
    padding:0;
    margin:0;
    background:hsl(8, 78%, 55%);
}

.Dance {
    width: 700px;
    height:auto;
}

.brainwashing {
    width:500px;
    height:auto;
}

.propaganda {
    width:400px;
    height:auto;
}